name: Pull Request Verification

on:
  pull_request:
    types: [opened, synchronize, ready_for_review]

jobs:
  biome:
    if: github.event.pull_request.draft == false
    name: Biome
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: biomejs/setup-biome@454fa0d884737805f48d7dc236c1761a0ac3cc13 # v2.6.0
        with:
          version: 2.2.3

      - run: biome check --reporter=github .

  knip:
    if: github.event.pull_request.draft == false
    name: Knip
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '24.11.1'

      - run: npm ci

      - run: ./node_modules/.bin/knip
